* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-image:url('../img/fundo1.jpg');
  background-size:auto, 100vh; 
}

/*site padrão*/

header{
  height: 55vh;
}

.menu li{
  list-style:none;

}

.menu ul{
  display:flex;
  justify-content: space-around;
  font-family:monospace;
  font-size:2.5vh;
  background-color: whitesmoke;
  position: fixed;
  width: 100vw;
}

a{
  text-decoration:none;
  color:black;  
}

a:hover{
text-decoration:underline;
}

.site-title, .site-subtitle{
  font-family:monospace;
  color:whitesmoke;
  text-align: left;
  
}

.site-title{
  font-size:5vw;
  padding-top: 20vh;
  padding-right: 1vw;
 
}

.site-title{
  color:whitesmoke;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin-top:100vh ;
  margin:auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
     typing 3.35s steps(90, end),
      blink-caret .5s step-end infinite;
}
    
    /* The typing effect */
    @keyframes typing {
      from { width: 0% }
      to { width:100%}
    }
    
    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: white }
    }

.site-subtitle{
  font-style:italic;
  font-size:4vw;
  padding-right: 3vw;
  letter-spacing: .10em;
}

.img-tema{
  height: 30vh;
  width: auto;
  padding-left: 5vw;

}

section{
  background-color: whitesmoke;
  font-family: monospace;
  height: 50Vh;

}

.tema{
  font-size: 5vw;
  text-align: center;
  padding: 5vh;
}

div{
  display: flex;
  align-content: center;
  justify-content: center;
}

.txt-tema{
  font-size: 3vw;
  padding: 5vw;
}


/*site modo grande*/

@media(min-width:1150px){
  body .site-title{
    font-size:3vw;
    padding-top:5vh ;
    padding-right: 1vw;

    color:whitesmoke;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin:auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
       typing 3.35s steps(90, end),
        blink-caret .5s step-end infinite;
  
      
      /* The typing effect */
      @keyframes typing {
        from { width: 0% }
        to { width:100%}
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: white }
      }
  
  
  }

  body .site-title, .site-subtitle{
    text-align: right;
    
  }

  body header{
    height: 88vh;
  }

  body .menu ul{
      font-size: 3vh;
  }
  
  body .site-subtitle{
    font-size:2vw;
    padding-right: 3vw;
  }

  body .img-portfolio{
    height: auto;
    width: auto;
  }
  
  section{
    
    height: 100Vh;
  
  }

  section .tema{
    font-size: 2vw;
    text-align: center;
    padding-top: 8vh;
  }  

}

/*
<figure>
  <img class="img-portfolio" src="./img/2.jpg" alt=">Mobile">
  <figcaption>Mobile</figcaption>
</figure>
<figure>
  <img class="img-portfolio" src="./img/perfil.jpeg" alt="eCommerce">
  <figcaption>Web design</figcaption>
</figure>
<figure>
  <img class="img-portfolio" src="./img/3.jpg" alt="Projetos pessoais">
  <figcaption>Projetos pessoais</figcaption>*/